

<app-header></app-header>
<div class="container">
  <h1 align="center" style="font-size:36pt; color:green"> Bienvenue dans le site de Mercadona, le leader de la distribution alimentaire </h1>
  <p>Mercadona, célèbre entreprise dans le milieu du retail dispose de 1675 magasins en Espagne
    réalisant ainsi un chiffre d’affaires de 20 milliards d’euros. Son succès se dessine à travers des
    promotions très fréquentes, il y a toujours un minimum d’une centaine de produits en
    promotion et à tout moment de l’année.
    </p>
</div>
<app-footer></app-footer>
